{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
{% endblock %}

{% block header %}
    <nav id="cor" class="navbar navbar">
        <a class="navbar-brand" id="uea-logo" href="{{url_for('feed')}}"><i class="fa fa-th-large" aria-hidden="true"></i> FEED
		</a>

        <!--Botão de Sair-->
		 <a class="navbar-brand" id="uea-logo" href="{{url_for('home')}}"> <i class="fa fa-user" aria-hidden="true"></i> PERFIL

		 </a>
		  <a  class="navbar-brand" id="uea-logo" href="{{url_for('logout')}}"> <i class="fa fa-remove" aria-hidden="true"></i> SAIR </a>
        
    </nav>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    <div id="footer" >
        <div class="container" id ="footer">
            <p class="text-right mt-1">Foundanies o esboço da diversão.</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}
