{% extends "header.html" %}

{% block styles %}
	 {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='upload_style.css') }}">
{% endblock %}

{% block content %}	
		<div class="container" id="login-page-container">
			<div class="row" id="central-contentup">
				<div class="col-xs-12 col-xs-push-1 col-sm-12 col-sm-push-1 col-md-12 col-md-push-1">
					<form id="upload-form" action="{{ url_for('upload')}}" method="POST" enctype="multipart/form-data">
						<br><img class="logo" src="https://i.imgur.com/BZ56eUI.png"></br>
						<br><strong>Selecione sua imagem:</strong></br>
						<input id="file-picker" type="file" name="file" accept="image/*" multiple>
						<br><div id="msg"></div></br>
						<input type="submit" value="Upload!" id="upload-button">
					</form>
				</div>
			</div>
		</div>
{% endblock %}	
	<script>

		$("#file-picker").change(function(){

			var input = document.getElementById('file-picker');

			for (var i=0; i<input.files.length; i++)
			{
			//koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
				var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
				if ((ext == 'jpg') || (ext == 'png') || (ext == 'jpeg') || (ext == 'gif'))
				{
					$("#msg").text("Files are supported")
				}
				else
				{
					$("#msg").text("Files are NOT supported")
					document.getElementById("file-picker").value ="";
				}
			}
		} );
	
	</script>